/* header {
  height: 100vh;
} */


* {
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}


.absolute-center {
  left: 0;
  right: 0;

  margin-left: auto;
  margin-right: auto;

  width: max-content;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.nav-element:hover {
  color: #000;
  transition: 0.1s ease-in;
}


/* nav .nav-list li:hover {
  border-bottom: 2px solid black;
  transition: 0.1s ease-out;
  color: black !important;
} */

.fab button {
  border-radius: 50%;
  padding: 1rem;
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow:
    0px 2.8px 2.2px rgba(0, 0, 0, 0.006),
    0px 6.7px 5.3px rgba(0, 0, 0, 0.008),
    0px 12.5px 10px rgba(0, 0, 0, 0.01),
    0px 22.3px 17.9px rgba(0, 0, 0, 0.012),
    0px 41.8px 33.4px rgba(0, 0, 0, 0.014),
    0px 100px 80px rgba(0, 0, 0, 0.02);
}



@media screen and (max-width: 768px) {
  :root {
    font-size: 13px;
  }


  nav ul {
    height: 100vh;
    min-width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  nav ul li {
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-size: 2.5rem;
  }

}


/* Nav animation */

.underline-animation {
  position: relative;
  padding-bottom: 4px;
}

.underline-animation::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-element:hover .underline-animation::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


#eapps-google-reviews-9555bf77-4c23-40c1-8c24-48eff50ee16f>div>div>div.WidgetTitle__Container-sc-173f1y-0.eLZcUW>div>div>div {
  opacity: 0 !important;
  display: none !important;
}

#eapps-google-reviews-9555bf77-4c23-40c1-8c24-48eff50ee16f>div>a {
  opacity: 0 !important;
}


.car-cards-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.car-card {
  height: 18rem;
  width: 15rem;
  isolation: isolate;
  position: relative;
}

.car-card>img {
  position: absolute;
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  z-index: -50;
}

.car-card>div {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #f3f3f3;
  padding: 0.5rem 0;
}